*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(33, 32, 32);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 3rem;
}
.items{
    background-color: rgb(232, 104, 104);
    height: 1fr;
    width: 1fr;
    border-radius: 1rem;
    border:1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}